{% load static %}

<!--footer area start-->
<footer class="footer_widgets color_three">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-7">
          <div class="widgets_container contact_us">
            <div class="footer_logo">
              <a href="{% url 'home' %}"
                ><img src="{% static 'img/logo/logo.png' %}" alt="Logo"
              /></a>
            </div>
            <p><span>Адреса:</span> м.Черкаси, вул.Франка 6</p>
            <p><span>Email:</span> <a href="#">sil.patelnya@gmail.com</a></p>
            <p>
              <span>Зателефонуйте нам:</span>
              <a href="tel:(08)23456789">(08) 23 456 789</a>
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-5">
          <div class="widgets_container widget_menu">
            <h3>Інформація</h3>
            <div class="footer_menu">
              <ul>
                <li><a href="#">Виробництво</a></li>
                <li><a href="#">Де купити</a></li>
                <li><a href="#">Контакти (і режим роботи)</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-5">
          <div class="widgets_container widget_menu">
            <h3>Додатково</h3>
            <div class="footer_menu">
              <ul>
                <li><a href="#">Умови для співпраці. HoReCa.</a></li>
                <li><a href="#">Договір оферти</a></li>
                <li><a href="#">Політика конфіденційності</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="widgets_container widget_newsletter">
            <h3>Новини</h3>
            <p class="footer_desc">
              Підпишіться на наши новини і таке інше</p>

            <div class="subscribe_form">
                <form id="mc-form" class="mc-form footer-newsletter">
                  <input
                    id="mc-email"
                    type="email"
                    autocomplete="off"
                    placeholder="Введіть свій email"
                  />
                  <button type="button" id="mc-submit">Підписатися</button>
                </form>
            </div>

            <div id="alert-prod-details"></div>

            <div class="social text-right">
              <ul>
                <li>
                  <a href="#"><i class="ion-social-youtube-outline"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ion-social-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ion-social-instagram-outline"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-7">
          <div class="copyright_area">
            <p>© {% now "Y" %} <a href="{% url 'home' %}">Сіль і Пательня.</a> Всі права захищені</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-5">
          <div class="copyright_area" style="text-align: right;">
              <p>Online store made in Django by Lychagin Sergey</p>
            </div>
         </div>

<!-- Payment block start -->
<!--        <div class="col-lg-6 col-md-5">-->
<!--          <div class="footer_payment">-->
<!--            <ul>-->
<!--              <li>-->
<!--                <a href="#"-->
<!--                  ><img src="{% static 'img/icon/paypal1.jpg' %}" alt=""-->
<!--                /></a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="#"-->
<!--                  ><img src="{% static 'img/icon/paypal2.jpg' %}" alt=""-->
<!--                /></a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="#"-->
<!--                  ><img src="{% static 'img/icon/paypal3.jpg' %}" alt=""-->
<!--                /></a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="#"-->
<!--                  ><img src="{% static 'img/icon/paypal4.jpg' %}" alt=""-->
<!--                /></a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!-- Payment block end -->

      </div>
    </div>
  </div>
</footer>
<!--footer area end-->
