{% load static %}
{% load social_share %}

<!-- modal area start-->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <button
            id="close-quick-button"
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"><i class="icon-x"></i></span>
          </button>

          <div class="modal_body">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                  <div class="modal_tab">
                    <div class="tab-content product-details-large">

                      <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                        <div class="modal_tab_img">
                          <a id="quick_main_href" href="#">
                            <img id="quick_main" src="" alt="Зображення товару"></a>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="tab2" role="tabpanel">
                        <div class="modal_tab_img">
                          <a  id="quick_img1_href" href="#"
                            ><img id="quick_img1"
                              src=""
                              alt="Зображення товару"
                          /></a>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="tab3" role="tabpanel">
                        <div class="modal_tab_img">
                          <a id="quick_img2_href" href="#"
                            ><img id="quick_img2"
                              src=""
                              alt="Зображення товару"
                          /></a>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="tab4" role="tabpanel">
                        <div class="modal_tab_img">
                          <a id="quick_video" href=""
                             target="" rel="noopener noreferrer"
                            ><img
                              src="{% static 'img/videoicon.jpg' %}"
                              alt="Зображення товару"
                          /></a>
                        </div>
                      </div>
                    </div>

                    <div class="modal_tab_button">
                      <ul class="nav product_navactive owl-carousel" role="tablist">

                        <li>
                          <a
                            class="nav-link active"
                            data-toggle="tab"
                            href="#tab1"
                            role="tab"
                            aria-controls="tab1"
                            aria-selected="false"
                            ><img id="quick_main_link" src="" alt="Зображення товару"
                          /></a>
                        </li>

                        <li>
                          <a
                            class="nav-link"
                            data-toggle="tab"
                            href="#tab2"
                            role="tab"
                            aria-controls="tab2"
                            aria-selected="false"
                            ><img id="quick_img1_link" src="" alt="Зображення товару"
                          /></a>
                        </li>

                        <li>
                          <a
                            class="nav-link button_three"
                            data-toggle="tab"
                            href="#tab3"
                            role="tab"
                            aria-controls="tab3"
                            aria-selected="false"
                            ><img id="quick_img2_link" src="" alt="Зображення товару"
                          /></a>
                        </li>

                        <li>
                          <a id="quick_video_link"
                            class="nav-link"
                            data-toggle="tab"
                            href="#tab4"
                            role="tab"
                            aria-controls="tab4"
                            aria-selected="false"
                            ><img src="{% static 'img/videoicon.jpg' %}" alt="Відео товару"
                          /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-12">
                  <div class="modal_right">
                    <div class="modal_title mb-10">
                      <a class="title_url" id="title_url" href=""><h2 id="quick_title"></h2></a>
                    </div>
                    <div class="modal_price mb-10">
                      <span class="new_price" id="quick_new_price"></span><span class="new_price"> ₴</span>
                      <span class="old_price" id="quick_old_price"></span><span class="old_price"></span>
                    </div>

                    <div class="unit_price" id="unit_price"></div>
                      <br>

                    <div class="modal_description mb-15">
                      <p id="quick_description"></p>
                    </div>

                    <div class="variants_selects">
                      <div class="modal_add_to_cart" id="modal-add-to-cart">
                        <button class="quantity_btn_1 bg-c" id="decrementQuickPopup" type="button">-</button>
                        <input type="number" min="1" max="100" value="1" readonly class="raz" id="qty-quick-popup">
                        <button class="quantity_btn_1 bg-c" id="incrementQuickPopup" type="button">+</button>
                        <form action="#">
                          <button type="button" id="quick-add-button" value="">В кошик</button>
                        </form>
                      </div>
                    </div>

                    <div id="alert-pop-up"></div>

                    <div class="social_wrapper">
                          <p>Поділитись цим товаром:</p>
                          <div class="facebook">
                            {% post_to_facebook object_or_url %}
                          </div>
                          <div class="telegram">
                            {% post_to_telegram "Сіль і Пательня" object_or_url %}
                          </div>
                          <div class="whatsapp">
                            {% post_to_whatsapp object_or_url %}
                          </div>
                          <div class="instagram">
                            <a href="https://instagram.com/sil_i_patelnya?igshid=ZDdkNTZiNTM=" target="_blank">
                              <i class="fa fa-instagram"></i>
                            </a>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- modal area end-->