{% extends 'sip/base.html' %}
{% load static %}
{% load social_share %}
{% load crispy_forms_tags %}
{% block content %}

<!--background banner area start-->
{% if background_banner %}
    {% if background_banner.banner_url %}
    <a href="{{ background_banner.banner_url }}">
        <div class="breadcrumbs_area"
             style="background: url({{background_banner.image.url}});">
        </div>
    </a>
    {% else %}
    <a href="{% url 'home' %}">
        <div class="breadcrumbs_area"
             style="background: url({{background_banner.image.url}});">
        </div>
    </a>
    {% endif %}
{% endif %}
<!--background banner area end-->

<!--blog body area start-->
<div class="blog_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <!--blog grid area start-->
                <div class="blog_wrapper blog_wrapper_details">
                    <article class="single_blog">
                        <figure>
                           <div class="post_header">
                               <h3 class="post_title">{{ single_post.title }}</h3>
                                <div class="blog_meta">
                                   <p>Опубліковано {{ single_post.post_created_date }}</p>
                                </div>
                            </div>
                            <div class="blog_thumb">
                                {% if single_post.banner_url %}
                               <a href="{{ single_post.banner_url }}"><img src="{{ single_post.post_image.url }}" alt="Зображення до посту"></a>
                                {% else %}
                                <a href="#"><img src="{{ single_post.post_image.url }}" alt="Зображення до посту"></a>
                                {% endif %}
                            </div>

                           <figcaption class="blog_content">
                                <div class="post_content">
                                    {% if single_post.quote %}
                                    <blockquote>
                                        <p>{{ single_post.quote }}</p>
                                    </blockquote>
                                    {% endif %}

                                    <p>{{ single_post.description|safe }}</p>
                                </div>
                               <br>
                                <div class="entry_content">
                                    <div class="post_meta">
                                        <span>Теги: </span>
                                        {% for tag in post_tags %}
                                            {% if forloop.last %}
                                                <span><a href="{{ tag.product.get_url }}">{{ tag.name|lower }}</a></span>
                                            {% else %}
                                                <span><a href="{{ tag.product.get_url }}">{{ tag.name|lower }}</a></span><span>,</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                      <div class="social_wrapper share_post">
                                              <p style="padding-right: 10px; padding-top: 7px;">
                                                  Поділитись цим постом:
                                              </p>
                                              <div class="facebook">
                                                {% post_to_facebook object_or_url %}
                                              </div>
                                              <div class="telegram">
                                                {% post_to_telegram "Сіль і Пательня: {{single_post.title}}" object_or_url %}
                                              </div>
                                              <div class="whatsapp">
                                                {% post_to_whatsapp object_or_url %}
                                              </div>
                                              <div class="instagram">
                                                <a href="https://instagram.com/sil_i_patelnya?igshid=ZDdkNTZiNTM=" target="_blank"><i class="fa fa-instagram"></i></a>
                                              </div>
                                      </div>
                                </div>
                           </figcaption>
                        </figure>
                    </article>

                    {% if related_posts %}
                    <div class="related_posts">
                       <h3>{{ single_post.related_posts_title }}</h3>
                        <div class="row">
                            {% for post in related_posts %}
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <article class="single_related">
                                    <figure>
                                        <div class="related_thumb">
                                            <a href="{{ post.get_url }}"><img src="{{ post.mini_image.url }}" alt="Зображення до посту"></a>
                                        </div>
                                        <figcaption class="related_content">
                                           <h4><a href="{{ post.get_url }}">{{ post.title }}</a></h4>
                                           <div class="blog_meta">
                                                <span class="meta_date">{{ post.post_created_date }}</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                            {% endfor %}
                        </div>
                   </div>
                    {% endif %}


                    <div class="comments_box">
                        <h3>Коментари ({{ comments|length }})</h3>

                        {% for comment in comments|slice:3 %}
                        <div class="comment_list">
                            <div class="comment_content">
                                <div class="comment_meta">
                                    <h5>{{ comment.name }}</h5>
                                    <span>{{ comment.modified_date }}</span>
                                </div>
                                <p>{{ comment.content }}</p>
                            </div>
                        </div>
                        {% endfor %}

                        <div id="comment-box"></div>

                        <div id="spinner-comments-box" class="not-visible">
                            <div class="spinner-border text-secondary" role="status"></div>
                        </div>

                        {% if comments|length > 3 %}
                        <div id="loading-comments-box">
                            <button type="button" class="btn btn-outline-warning"
                                    id="show-more-comments" value="{{ single_post.id }}">
                                Більше коментарів
                            </button>
                        </div>
                        {% endif %}

                    </div>


                    <div class="comments_form">
                        <h3 id="comment-form-title">Залиште свій коментар</h3>
                    </div>
                        {% crispy form %}
                    <div id="alert-prod-details"></div>

                </div>
                <!--blog grid area start-->
            </div>
  <!--sidebar-->
  {% include 'blog/sidebar.html' %}

        </div>
    </div>
</div>
<!--blog section area end-->

<!--fix flash alert in bottom of the screen-->
<div class="alert-box-home" id="alert-home"></div>


{% endblock %}

