{% load static %}
<div class="col-lg-3 col-md-12">
    <div class="blog_sidebar_widget">
        <div class="widget_list widget_search">
            <div class="widget_title">
                <h3>Пошук</h3>
            </div>
            <form action="{% url 'search_post' %}" method="GET">
                <input placeholder="Пошук поста..." type="text" name="keyword">
                <button type="submit">Знайти</button>
            </form>
        </div>


        <div class="widget_list comments">
            <div class="widget_title">
                <h3>Недавні коментари</h3>
            </div>
            {% for comment in recent_comments %}
            <div class="post_wrapper">
                <div class="post_info">
                    <span>{{ comment.name }}:</span>
                    <a href="{{ comment.post.get_url }}">
                        {{ comment.content|slice:20 }}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="widget_list widget_post">
            <div class="widget_title">
                <h3>Недавнi пости</h3>
            </div>

            {% for post in recent_posts %}
            <div class="post_wrapper">
                <div class="post_thumb">
                    <a href="{{ post.get_url }}"><img src="{{ post.post_image.url }}" alt="Зображення до посту"></a>
                </div>
                <div class="post_info">
                    <h4><a href="{{ post.get_url }}">{{ post.title }}</a></h4>
                    <span>{{ post.recent_created_date }}</span>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="widget_list widget_categories">
            <div class="widget_title">
                <h3>Категории</h3>
            </div>
            <ul>
                {% for category in blog_categories %}
                <li><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="widget_list widget_tag">
            <div class="widget_title">
                <h3>Теги товарiв</h3>
            </div>
            <div class="tag_widget">
                <ul>
                    {% for tag in post_tags %}
                    <li><a href="{{ tag.product.get_url }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>