{% extends 'sip/base.html' %}
{% load static %}
{% load get_range %}
{% load embed_video_tags %}
{% load crispy_forms_tags %}
{% block content %}

    <!--background banner area start-->
{% if background_banner %}
    {% if background_banner.banner_url %}
    <a href="{{ background_banner.banner_url }}">
        <div class="breadcrumbs_area"
             style="background: url({{background_banner.image.url}});">
        </div>
    </a>
    {% else %}
    <a href="{% url 'home' %}">
        <div class="breadcrumbs_area"
             style="background: url({{background_banner.image.url}});">
        </div>
    </a>
    {% endif %}
{% endif %}
    <!--background banner area end-->

    <!--product details start-->
    <div class="product_details mt-70 mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-tab">
                        <div id="img-1" class="zoomWrapper single-zoom mainImage">
                                <img id="zoom1" src="{{ single_product.product_image.url }}"
                                     data-zoom-image="{{ single_product.product_image.url }}" alt="big-1">
                        </div>

                        <div class="single-zoom-thumb">
                            <ul class="s-tab-zoom owl-carousel single-product-active">
                                <li id="gallery_01">
                                    <a href="{{ single_product.product_image.url }}" target="mainImage"
                                       rel="noopener noreferrer"
                                       class="elevatezoom-gallery active" data-update=""
                                       data-image="{{ single_product.product_image.url }}"
                                       data-zoom-image="{{ single_product.product_image.url }}">
                                        <img src="{{ single_product.product_image.url }}" alt="Фото товару"/>
                                    </a>
                                </li>

                                {% for item in images %}
                                    <li id="gallery_02">
                                        <a href="{{ item.image.url }}" target="mainImage"
                                           rel="noopener noreferrer"
                                           class="elevatezoom-gallery" data-update=""
                                           data-image="{{ item.image.url }}"
                                           data-zoom-image="{{ item.image.url }}">
                                            <img src="{{ item.image.url }}" alt="Фото товару"/>
                                        </a>
                                    </li>
                                {% endfor %}

                                {% for item in videos %}
                                    <li>
                                        {% video item.video as product_video %}
                                        <a href="{{ product_video.url }}" target="_blank" rel="noopener noreferrer">
                                            <img src="{% static 'img/videoicon.jpg' %}" alt="Відео товару"/>
                                        </a>
                                        {% endvideo %}
                                    </li>
                                {% endfor %}
                            </ul>
                      </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">
                            <h1>{{ single_product.product_name }}</h1>

                            <div class="product_ratting">
                                <div class="rating-group">
                                    {% if single_product.average_review_rating|floatformat:"0" == single_product.average_review_rating|floatformat %}
                                        {% for i in single_product.average_review_rating|get_range %}
                                        <label aria-label="1 star" class="rating__label small_star"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                        {% endfor %}
                                    {% else %}
                                        {% for i in single_product.average_review_rating|get_range %}
                                        <label aria-label="1 star" class="rating__label small_star"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                        {% endfor %}
                                        <label aria-label="0.5 stars" class="rating__label small_star small_star--half"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="price_box">
                                <span class="current_price">{{ single_product.price }} ₴</span>

                                {% if single_product.price_old %}
                                <span class="old_price">{{ single_product.price_old }} ₴</span>
                                {% endif %}
                                <a
                                    type="button"
                                    data-tippy="Інформація про товар"
                                    data-tippy-placement="top"
                                    data-tippy-arrow="true"
                                    data-tippy-inertia="true"
                                    data-tippy-trigger="mouseenter"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal_box_info"
                                  >
                                    <span class="gg-info"></span
                                ></a>
                            </div>

                            <div class="unit_price">{{ single_product.price }} {{ single_product.unit }}</div>

                            <div class="product_desc">
                                <p>{{ single_product.short_description|safe }}</p>
                            </div>

                           <div class="quantity_main_btn">
                                   <button class="quantity_btn_1 bg-c" type="button" onclick="decrementProdDetail()">-</button>
                                   <input type="number" min="1" max="100" value="1" readonly class="raz" id="qty" name="quantity">
                                   <button class="quantity_btn_1 bg-c" type="button" onclick="incrementProdDetail()">+</button>
                               <div class="product_variant quantity">
                                    <button class="button" type="button" id="add-button" value="{{ single_product.id }}">В кошик</button>
                               </div>
                           </div>

                            <div id="alert-prod-details"></div>

                            <div class="product_d_action" id="product_d_action">
                               <ul>
                                   {% if single_product.id not in wish_products %}
                                   <li>
                                       <a type="button" class="wishlist-add-button" id="wishlist-add-button"
                                          data-index="{{ single_product.id }}" onClick="toggleText(this.id);"
                                          >+ Додати до обраного</a>
                                   </li>
                                   {% else %}
                                   <li>
                                       <a type="button" class="wishlist-add-button" id="wishlist-add-button"
                                          data-index="{{ single_product.id }}" onClick="toggleText(this.id);"
                                          >- Видалити з обраного</a>
                                   </li>
                                 {% endif %}
                               </ul>
                            </div>

                            <div class="product_meta">
                                <span>Категорія: <a href="{{ single_product.category.get_url }}">{{ single_product.category }}</a></span>
                            </div>
                        <div class="social_wrapper">
                          <p>Поділитись цим товаром:</p>
                          <div class="instagram">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                          </div>
                          <div class="facebook">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                          </div>
                          <div class="telegram">
                            <a href="#"><i class="fa fa-paper-plane"></i></a>
                          </div>
                          <div class="whatsapp">
                            <a href="#"><i class="fa fa-whatsapp"></i></a>
                          </div>
                          <div class="youtube">
                            <a href="#"><i class="fa fa-youtube"></i></a>
                          </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product details end-->

    <!--product info start-->
    <div class="product_d_info mb-65">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product_d_inner">
                        <div class="product_info_button">
                            <ul class="nav" role="tablist" id="nav-tab">
                                <li >
                                    <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Опис</a>
                                </li>
                                <li>
                                     <a data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet" aria-selected="false">Специфікація</a>
                                </li>
                                <li>
                                   <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Коментари ({{ reviews|length }})</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info" role="tabpanel" >
                                <div class="product_info_content">
                                    <p>{{ single_product.description|safe }}</p>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="sheet" role="tabpanel" >
                                <div class="product_d_table">
                                    {{ single_product.specification|safe }}
                                </div>
                            </div>








                            <div class="tab-pane fade" id="reviews" role="tabpanel" >
                                <div class="reviews_wrapper">


                                    <div id="alert-rating-success"></div>

                                    <div class="comment_title" id="review_form_title">
                                        <h2>Додайте відгук</h2>
                                        <p><sap>* </sap><i>Відгук можна залишити, якщо ви купували даний товар</i></p>
                                    </div>

                                    <div class="product_ratting mb-10" id="rating-stars">
                                       <h3>Ваш рейтинг</h3>
                                            <div class="rating-group">
                                                <input class="rating__input rating__input--none" checked name="rating" id="rating-0" value="0" type="radio">
                                                <label aria-label="0 stars" class="rating__label" for="rating-0">&nbsp;</label>
                                                <label aria-label="0.5 stars" class="rating__label rating__label--half" for="rating-05"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                                                <input class="rating__input" name="rating" id="rating-05" value="0.5" type="radio">
                                                <label aria-label="1 star" class="rating__label" for="rating-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                <input class="rating__input" name="rating" id="rating-10" value="1" type="radio">
                                                <label aria-label="1.5 stars" class="rating__label rating__label--half" for="rating-15"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                                                <input class="rating__input" name="rating" id="rating-15" value="1.5" type="radio">
                                                <label aria-label="2 stars" class="rating__label" for="rating-20"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                <input class="rating__input" name="rating" id="rating-20" value="2" type="radio">
                                                <label aria-label="2.5 stars" class="rating__label rating__label--half" for="rating-25"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                                                <input class="rating__input" name="rating" id="rating-25" value="2.5" type="radio">
                                                <label aria-label="3 stars" class="rating__label" for="rating-30"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                <input class="rating__input" name="rating" id="rating-30" value="3" type="radio">
                                                <label aria-label="3.5 stars" class="rating__label rating__label--half" for="rating-35"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                                                <input class="rating__input" name="rating" id="rating-35" value="3.5" type="radio">
                                                <label aria-label="4 stars" class="rating__label" for="rating-40"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                <input class="rating__input" name="rating" id="rating-40" value="4" type="radio">
                                                <label aria-label="4.5 stars" class="rating__label rating__label--half" for="rating-45"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                                                <input class="rating__input" name="rating" id="rating-45" value="4.5" type="radio">
                                                <label aria-label="5 stars" class="rating__label" for="rating-50"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                <input class="rating__input" name="rating" id="rating-50" value="5" type="radio">
                                            </div>

                                            <div id="alert-prod-rating"></div>
                                    </div>

                                        {% crispy form %}

                                    <div id="alert-prod-info"></div>
                                    <br>

                                    {% for review in reviews|slice:3 %}
                                    <div class="reviews_comment_box">
                                        <div class="comment_text">
                                            <div class="reviews_meta">
                                                <div class="star_rating">
                                                    <div class="rating-group">

                                                        {% if review.rating|floatformat:"0" == review.rating|floatformat %}
                                                            {% for i in review.rating|get_range %}
                                                            <label aria-label="1 star" class="rating__label small_star"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                            {% endfor %}
                                                        {% else %}
                                                            {% for i in review.rating|get_range %}
                                                            <label aria-label="1 star" class="rating__label small_star"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                                            {% endfor %}
                                                            <label aria-label="0.5 stars" class="rating__label small_star small_star--half"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                                                        {% endif %}

                                                    </div>
                                                </div>
                                                <p><strong>{{ review.name }}</strong> - {{ review.modified_date }}</p>
                                                <span>{{ review.review }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                <div id="reviews-box"></div>

                                <div id="spinner-reviews-box" class="not-visible">
                                    <div class="spinner-border text-secondary" role="status"></div>
                                </div>

                                {% if reviews|length > 3 %}
                                <div id="loading-reviews-box">
                                    <button type="button" class="btn btn-outline-warning"
                                            id="show-more-reviews" value="{{ single_product.id }}">
                                        Більше відгуків
                                    </button>
                                </div>
                                {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product info end-->

    <!--product area start-->
{% if related_products %}
    <section class="product_area related_products">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>{{ single_product.related_products_title }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product_carousel product_column5 owl-carousel">

                        {% for product in related_products %}
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a class="primary_img" href="{{ product.get_url }}"><img src="{{ product.product_image.url }}" alt="Головне фото"></a>
                                    {% if product.second_image %}
                                    <a class="secondary_img" href="{{ product.get_url }}"><img src="{{ product.second_image.url }}" alt="Друге фото"></a>
                                    {% endif %}
                                    <div class="label_product">
                                        {% if product.is_sale %}
                                        <span class="label_sale">Sale</span>
                                        {% endif %}
                                        {% if product.is_new %}
                                        <span class="label_new">New</span>
                                        {% endif %}
                                    </div>
                                    <div class="action_links">
                                        <ul>
                                           <li class="add_to_cart">
                                               <a
                                                 type="button"
                                                  class="quick-add-button"
                                                  data-index="{{ product.id }}"
                                                  data-tippy="В кошик"
                                                  data-tippy-placement="top"
                                                  data-tippy-arrow="true"
                                                  data-tippy-inertia="true"
                                               >
                                                   <span class="lnr lnr-cart"></span>
                                               </a>
                                           </li>
                                           <li class="quick_button">
                                               <a
                                                  type="button"
                                                  class="quick-show-button"
                                                  data-index="{{ product.id }}"
                                                  data-tippy="Швидкий просмотр"
                                                  data-tippy-placement="top"
                                                  data-tippy-arrow="true"
                                                  data-tippy-inertia="true"
                                                  data-bs-toggle="modal"
                                                  data-bs-target="#modal_box">
                                                   <span class="lnr lnr-magnifier"></span>
                                               </a>
                                           </li>
                                           <li class="wishlist">
                                            {% if product.id in wish_products %}
                                            <a
                                              type="button"
                                              class="wishlist-button"
                                              data-index="{{ product.id }}"
                                              data-tippy="У обране"
                                              data-tippy-placement="top"
                                              data-tippy-arrow="true"
                                              data-tippy-inertia="true"
                                              style="background: #fc8a35;"
                                              ><span style="color: #ffffff;" class="lnr lnr-heart"></span
                                            ></a>
                                            {% else %}
                                            <a
                                              type="button"
                                              class="wishlist-button"
                                              data-index="{{ product.id }}"
                                              data-tippy="У обране"
                                              data-tippy-placement="top"
                                              data-tippy-arrow="true"
                                              data-tippy-inertia="true"
                                              ><span class="lnr lnr-heart"></span
                                            ></a>
                                            {% endif %}
                                          </li>
                                        </ul>
                                    </div>
                                </div>
                                <figcaption class="product_content">
                                    <h4 class="product_name"><a href="{{ product.get_url }}">{{ product.product_name }}</a></h4>
                                    <p><a href="{{ product.category.get_url }}">{{ product.category }}</a></p>
                                    <div class="price_box">
                                        <span class="current_price">{{ product.price }} ₴</span>
                                        {% if product.price_old %}
                                        <span class="old_price">{{ product.price_old }} ₴</span>
                                        {% endif %}
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
    <!--product area end-->

<!-- modal area start-->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <button
            id="close-quick-button"
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"><i class="icon-x"></i></span>
          </button>

          <div class="modal_body">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                  <div class="modal_tab">
                    <div class="tab-content product-details-large">

                      <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                        <div class="modal_tab_img">
                          <a id="quick_main_href" href="#">
                            <img id="quick_main" src="" alt="Зображення товару"></a>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="tab2" role="tabpanel">
                        <div class="modal_tab_img">
                          <a  id="quick_img1_href" href="#"
                            ><img id="quick_img1"
                              src=""
                              alt="Зображення товару"
                          /></a>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="tab3" role="tabpanel">
                        <div class="modal_tab_img">
                          <a id="quick_img2_href" href="#"
                            ><img id="quick_img2"
                              src=""
                              alt="Зображення товару"
                          /></a>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="tab4" role="tabpanel">
                        <div class="modal_tab_img">
                          <a id="quick_video" href=""
                             target="" rel="noopener noreferrer"
                            ><img
                              src="{% static 'img/videoicon.jpg' %}"
                              alt="Зображення товару"
                          /></a>
                        </div>
                      </div>
                    </div>

                    <div class="modal_tab_button">
                      <ul class="nav product_navactive owl-carousel" role="tablist">

                        <li>
                          <a
                            class="nav-link active"
                            data-toggle="tab"
                            href="#tab1"
                            role="tab"
                            aria-controls="tab1"
                            aria-selected="false"
                            ><img id="quick_main_link" src="" alt="Зображення товару"
                          /></a>
                        </li>

                        <li>
                          <a
                            class="nav-link"
                            data-toggle="tab"
                            href="#tab2"
                            role="tab"
                            aria-controls="tab2"
                            aria-selected="false"
                            ><img id="quick_img1_link" src="" alt="Зображення товару"
                          /></a>
                        </li>

                        <li>
                          <a
                            class="nav-link button_three"
                            data-toggle="tab"
                            href="#tab3"
                            role="tab"
                            aria-controls="tab3"
                            aria-selected="false"
                            ><img id="quick_img2_link" src="" alt="Зображення товару"
                          /></a>
                        </li>

                        <li>
                          <a id="quick_video_link"
                            class="nav-link"
                            data-toggle="tab"
                            href="#tab4"
                            role="tab"
                            aria-controls="tab4"
                            aria-selected="false"
                            ><img src="{% static 'img/videoicon.jpg' %}" alt="Відео товару"
                          /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-12">
                  <div class="modal_right">
                    <div class="modal_title mb-10">
                      <a class="title_url" id="title_url" href=""><h2 id="quick_title"></h2></a>
                    </div>
                    <div class="modal_price mb-10">
                      <span class="new_price" id="quick_new_price"></span><span class="new_price"> ₴</span>
                      <span class="old_price" id="quick_old_price"></span><span class="old_price"></span>
                    </div>

                      <div class="unit_price" id="unit_price"></div>
                      <br>

                    <div class="modal_description mb-15">
                      <p id="quick_description"></p>
                    </div>

                    <div class="variants_selects">
                      <div class="modal_add_to_cart">
                        <button class="quantity_btn_1 bg-c" id="button-minus" type="button" onclick="decrementQuickPopup()">-</button>
                        <input type="number" min="1" max="100" value="1" readonly class="raz" id="qty-quick-popup">
                        <button class="quantity_btn_1 bg-c" id="button-plus" type="button" onclick="incrementQuickPopup()">+</button>
                        <form action="#">
                          <button type="button" id="quick-add-button" value="">В кошик</button>
                        </form>
                      </div>
                    </div>


                    <div id="alert-pop-up"></div>

                      <div class="social_wrapper">
                          <p>Поділитись цим товаром:</p>
                          <div class="instagram">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                          </div>
                          <div class="facebook">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                          </div>
                          <div class="telegram">
                            <a href="#"><i class="fa fa-paper-plane"></i></a>
                          </div>
                          <div class="whatsapp">
                            <a href="#"><i class="fa fa-whatsapp"></i></a>
                          </div>
                          <div class="youtube">
                            <a href="#"><i class="fa fa-youtube"></i></a>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- modal area end-->


<!-- modal info start -->
    <div
      class="modal fade"
      id="modal_box_info"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal_info ">
          <button
            type="button"
            class="close close-info"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"><i class="icon-x"></i></span>
          </button>
             <div class="col-lg-12 col-md-12 col-sm-12">
              <p>{{ info|safe }}</p>
            </div>
        </div>
      </div>
    </div>
    <!-- modal info end-->

<!--fix flash alert in bottom of the screen-->
<div class="alert-box-home" id="alert-home"></div>

{% endblock %}