{% extends 'sip/base.html' %}
{% load static %}
{% block content %}

<!--background banner area start-->
{% if background_banner %}
    {% if background_banner.banner_url %}
    <a href="{{ background_banner.banner_url }}">
        <div class="breadcrumbs_area"
             style="background: url({{background_banner.image.url}});">
        </div>
    </a>
    {% else %}
    <a href="{% url 'home' %}">
        <div class="breadcrumbs_area"
             style="background: url({{background_banner.image.url}});">
        </div>
    </a>
    {% endif %}
{% endif %}
<!--background banner area end-->

<!--shop area start-->
<div class="shop_area shop_fullwidth mt-70 mb-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">
                        <button data-role="grid_3" type="button" class="btn-grid-3" data-toggle="tooltip" title="3"></button>
                        <button data-role="grid_4" type="button"  class="active btn-grid-4" data-toggle="tooltip" title="4"></button>
                        <button data-role="grid_list" type="button"  class="btn-list" data-toggle="tooltip" title="List"></button>
                    </div>
                    <div class="niceselect_option">
                        <form action="{% url 'store' %}" method="GET">
                            <select class="select_option" name="orderby" onchange="this.form.submit()">
                                <option selected value="id">Сортувати</option>
                                <option value="id">за замовчуванням</option>
                                <option value="popular">за популярністю</option>
                                <option value="by_rating">за рейтингом</option>
                                <option value="low-price">від дешевих до дорогих</option>
                                <option value="high-price">від дорогих до дешевих</option>
                            </select>
                        </form>
                    </div>
                    <div class="page_amount">
                        <p>Знайдено {{ product_count }} товарів</p>
                    </div>
                </div>
                 <!--shop toolbar end-->


                 <div class="row shop_wrapper">

                 {% for product in products %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                        <div class="single_product">
                            <div class="product_thumb">
                                <a class="primary_img" href="{{ product.get_url }}">
                                    <img src="{{ product.product_image.url }}"
                                         alt="Зображення товару">
                                </a>
                                <a class="secondary_img" href="{{ product.get_url }}">
                                    <img src="{{ product.product_image.url }}"
                                         alt="Зображення товару">
                                </a>
                                <div class="label_product">
                                    {% if product.is_sale %}
                                    <span class="label_sale">Sale</span>
                                    {% endif %}

                                    {% if product.is_new %}
                                    <span class="label_new">New</span>
                                    {% endif %}
                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="add_to_cart">
                                            <a
                                              type="button"
                                              class="quick-add-button"
                                              data-index="{{ product.id }}"
                                              data-tippy="В кошик"
                                              data-tippy-placement="top"
                                              data-tippy-arrow="true"
                                              data-tippy-inertia="true"
                                            >
                                              <span class="lnr lnr-cart"></span>
                                            </a>
                                        </li>
                                        <li class="quick_button">
                                            <a
                                              type="button"
                                              class="quick-show-button"
                                              data-index="{{ product.id }}"
                                              data-tippy="Швидкий просмотр"
                                              data-tippy-placement="top"
                                              data-tippy-arrow="true"
                                              data-tippy-inertia="true"
                                              data-bs-toggle="modal"
                                              data-bs-target="#modal_box"
                                            >
                                                <span class="lnr lnr-magnifier"></span>
                                            </a>
                                        </li>
                                        <li class="wishlist">
                                            {% if product.id in wish_products %}
                                              <a
                                                type="button"
                                                class="wishlist-button"
                                                data-index="{{ product.id }}"
                                                data-tippy="У обране"
                                                data-tippy-placement="top"
                                                data-tippy-arrow="true"
                                                data-tippy-inertia="true"
                                                style="background: #fc8a35;"
                                                ><span style="color: #ffffff;" class="lnr lnr-heart"></span
                                              ></a>
                                              {% else %}
                                              <a
                                                type="button"
                                                class="wishlist-button"
                                                data-index="{{ product.id }}"
                                                data-tippy="У обране"
                                                data-tippy-placement="top"
                                                data-tippy-arrow="true"
                                                data-tippy-inertia="true"
                                                ><span class="lnr lnr-heart"></span
                                              ></a>
                                              {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="product_content grid_content">
                                    <h4 class="product_name"><a href="{{ product.get_url }}">{{ product.product_name }}</a></h4>
                                    <p><a href="{{ product.category.get_url }}">{{ product.category }}</a></p>
                                    <div class="price_box">
                                        <span class="current_price">{{ product.price }} ₴</span>

                                        {% if product.price_old %}
                                        <span class="old_price">{{ product.price_old }} ₴</span>
                                        {% endif %}

                                    </div>
                                </div>
                            <div class="product_content list_content">
                                <h4 class="product_name"><a href="{{ product.get_url }}">{{ product.product_name }}</a></h4>
                                <p><a href="{{ product.category.get_url }}">{{ product.category }}</a></p>
                                <div class="price_box">

                                    <span class="current_price">{{ product.price }} ₴</span>

                                    {% if product.price_old %}
                                    <span class="old_price">{{ product.price_old }} ₴</span>
                                    {% endif %}

                                </div>
                                <div class="product_desc">
                                    <p>{{ product.description }}</p>
                                </div>
                                <div class="action_links list_action_right">
                                    <ul>
                                        <li class="add_to_cart">
                                            <a
                                              type="button"
                                              class="quick-add-button"
                                              data-index="{{ product.id }}">В кошик
                                            </a>
                                        </li>
                                        <li class="quick_button">
                                            <a
                                              type="button"
                                              class="quick-show-button"
                                              data-index="{{ product.id }}"
                                              data-tippy="Швидкий просмотр"
                                              data-tippy-placement="top"
                                              data-tippy-arrow="true"
                                              data-tippy-inertia="true"
                                              data-bs-toggle="modal"
                                              data-bs-target="#modal_box" >
                                              <span class="lnr lnr-magnifier"></span>
                                            </a>
                                        </li>
                                        <li class="wishlist">
                                            <a
                                              type="button"
                                              class="wishlist-button"
                                              data-index="{{ product.id }}"
                                              data-tippy="У обране"
                                              data-tippy-placement="top"
                                              data-tippy-arrow="true"
                                              data-tippy-inertia="true">
                                              <span class="lnr lnr-heart"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                     {% endfor %}
                </div>
                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->


<!-- modal area start-->
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <button
            id="close-quick-button"
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"><i class="icon-x"></i></span>
          </button>

          <div class="modal_body">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                  <div class="modal_tab">
                    <div class="tab-content product-details-large">

                      <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                        <div class="modal_tab_img">
                          <a id="quick_main_href" href="#">
                            <img id="quick_main" src="" alt="Зображення товару"></a>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="tab2" role="tabpanel">
                        <div class="modal_tab_img">
                          <a  id="quick_img1_href" href="#"
                            ><img id="quick_img1"
                              src=""
                              alt="Зображення товару"
                          /></a>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="tab3" role="tabpanel">
                        <div class="modal_tab_img">
                          <a id="quick_img2_href" href="#"
                            ><img id="quick_img2"
                              src=""
                              alt="Зображення товару"
                          /></a>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="tab4" role="tabpanel">
                        <div class="modal_tab_img">
                          <a id="quick_video" href=""
                             target="" rel="noopener noreferrer"
                            ><img
                              src="{% static 'img/videoicon.jpg' %}"
                              alt="Зображення товару"
                          /></a>
                        </div>
                      </div>
                    </div>

                    <div class="modal_tab_button">
                      <ul class="nav product_navactive owl-carousel" role="tablist">

                        <li>
                          <a
                            class="nav-link active"
                            data-toggle="tab"
                            href="#tab1"
                            role="tab"
                            aria-controls="tab1"
                            aria-selected="false"
                            ><img id="quick_main_link" src="" alt="Зображення товару"
                          /></a>
                        </li>

                        <li>
                          <a
                            class="nav-link"
                            data-toggle="tab"
                            href="#tab2"
                            role="tab"
                            aria-controls="tab2"
                            aria-selected="false"
                            ><img id="quick_img1_link" src="" alt="Зображення товару"
                          /></a>
                        </li>

                        <li>
                          <a
                            class="nav-link button_three"
                            data-toggle="tab"
                            href="#tab3"
                            role="tab"
                            aria-controls="tab3"
                            aria-selected="false"
                            ><img id="quick_img2_link" src="" alt="Зображення товару"
                          /></a>
                        </li>

                        <li>
                          <a id="quick_video_link"
                            class="nav-link"
                            data-toggle="tab"
                            href="#tab4"
                            role="tab"
                            aria-controls="tab4"
                            aria-selected="false"
                            ><img src="{% static 'img/videoicon.jpg' %}" alt="Відео товару"
                          /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-12">
                  <div class="modal_right">
                    <div class="modal_title mb-10">
                      <a class="title_url" id="title_url" href=""><h2 id="quick_title"></h2></a>
                    </div>
                    <div class="modal_price mb-10">
                      <span class="new_price" id="quick_new_price"></span><span class="new_price"> ₴</span>
                      <span class="old_price" id="quick_old_price"></span><span class="old_price"></span>
                    </div>

                      <div class="unit_price" id="unit_price"></div>
                      <br>

                      <div class="modal_description mb-15">
                      <p id="quick_description"></p>
                    </div>

                    <div class="variants_selects">
                      <div class="modal_add_to_cart">
                        <button class="quantity_btn_1 bg-c" id="button-minus" type="button" onclick="decrementQuickPopup()">-</button>
                        <input type="number" min="1" max="100" value="1" readonly class="raz" id="qty-quick-popup">
                        <button class="quantity_btn_1 bg-c" id="button-plus" type="button" onclick="incrementQuickPopup()">+</button>
                        <form action="#">
                          <button type="button" id="quick-add-button" value="">В кошик</button>
                        </form>
                      </div>
                    </div>

                    <div id="alert-pop-up"></div>
                      <div class="social_wrapper">
                          <p>Поділитись цим товаром:</p>
                          <div class="instagram">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                          </div>
                          <div class="facebook">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                          </div>
                          <div class="telegram">
                            <a href="#"><i class="fa fa-paper-plane"></i></a>
                          </div>
                          <div class="whatsapp">
                            <a href="#"><i class="fa fa-whatsapp"></i></a>
                          </div>
                          <div class="youtube">
                            <a href="#"><i class="fa fa-youtube"></i></a>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- modal area end-->

<!--fix flash alert in bottom of the screen-->
<div class="alert-box-home" id="alert-home"></div>

{% endblock %}