{% extends 'sip/base.html' %}{% load static %}{% block content %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="breadcrumb_content">
              <h3>Checkout</h3>
              <ul>
                <li><a href="{% url 'home' %}">home</a></li>
                <li>Checkout</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs area end-->

    <!--Checkout page section-->
    <div class="Checkout_section mt-70">
      <div class="container">
        <div class="checkout_form">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <form action="#">
                <h3>Оформлення замовлення</h3>
                <div class="row">
                  <div class="col-12 mb-20">
                    <label>ПІБ <span>*</span></label>
                    <input
                      placeholder="ПІБ"
                      type="text"
                    />
                  </div>
                  <div class="col-lg-6 mb-20">
                    <label>Телефон <span>*</span></label>
                    <input placeholder="+38 (099) 999-99-99" type="text" />
                  </div>
                  <div class="col-lg-6 mb-20">
                    <label> Email <span>*</span></label>
                    <input placeholder="abc@gmail.com" type="text" />
                  </div>
                  <div class="col-12 mb-20">
                    <label for="delivery">Доставка</label>
                    <select class="select_option" name="delivery" id="delivery">
                      <option value="8">Кур'єром</option>
                      <option value="9">Нова Пошта</option>
                    </select>
                  </div>
                   <div class="col-12 mb-20">
                    <label>Місто <span>*</span></label>
                    <input type="text" placeholder="Місто"/>
                  </div>
                  <div class="col-12 mb-20">
                    <label>Вулиця <span>*</span></label>
                    <input type="text" placeholder="Вулиця"/>
                  </div>
                  <div class="col-lg-6 mb-20">
                    <label>Будинок <span>*</span></label>
                    <input type="text" placeholder="Будинок"/>
                  </div>
                  <div class="col-lg-6 mb-20">
                    <label>Квартира</label>
                    <input type="text" placeholder="Квартира"/>
                  </div>

                  <div class="col-12 mb-20">
                    <label for="delivery-city">Виберіть місто доставки</label>
                    <select class="select_option" name="delivery-city" id="delivery-city">
                      <option value="8">1</option>
                      <option value="9">2</option>
                    </select>
                  </div>

                  <div class="col-12 mb-20">
                    <label for="department">Оберiть вiддiлення</label>
                    <select class="select_option" name="department" id="department">
                      <option value="8">1</option>
                      <option value="9">2</option>
                    </select>
                  </div>

                  <div class="col-lg-6 mb-20">
                    <label>Бажана дата доставки</label>
                    <input type="date"/>
                  </div>
                  <div class="col-lg-6 mb-20">
                    <label>Час</label>
                    <input type="time"/>
                  </div>

                  <div class="col-12 mb-20">
                    <label for="pay-method">Спосіб оплати </label>
                    <select class="select_option" name="pay-method" id="pay-method">
                      <option value="8">Кур'єру</option>
                      <option value="9">Готівкою</option>
                    </select>
                  </div>

                  <div class="col-12 mb-20">
                    <label>Бажаний спосіб зв`язку: </label>
                  </div>

                  <div class="col-12 mb-20">
                    <input id="phone" type="checkbox" data-target="createp_account"/>
                    <a
                      data-bs-toggle="collapse"
                      href="#collapseOne"
                      aria-controls="collapseOne"
                      >Телефон</a
                    >
                  </div>

                  <div class="col-12 mb-20">
                    <input
                      id="telegram"
                      type="checkbox"
                      data-target="createp_account"
                    />
                    <a
                      data-bs-toggle="collapse"
                      href="#collapseOne"
                      aria-controls="collapseOne"
                      >Telegram</a
                    >
                  </div>

                  <div class="col-12 mb-20">
                    <input
                      id="viber"
                      type="checkbox"
                      data-target="createp_account"
                    />
                    <a
                      data-bs-toggle="collapse"
                      href="#collapseOne"
                      aria-controls="collapseOne"
                      >Viber</a
                    >
                  </div>

                  <div class="col-12">
                    <div class="order-notes">
                      <label for="order_note"
                        >Додати коментар до замовлення</label
                      >
                      <textarea
                        id="order_note"
                        placeholder="Напишіть ваші побажання"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-6 col-md-6">
              <form action="#">
                <h3>Ваше замовлення</h3>
                <div class="order_table table-responsive">
                  <table>
                    <thead>
                      <tr>
                        <th>Продукція</th>
                        <th>Підсумок</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Handbag fringilla <strong> × 2</strong></td>
                        <td>$165.00</td>
                      </tr>
                      <tr>
                        <td>Handbag justo <strong> × 2</strong></td>
                        <td>$50.00</td>
                      </tr>
                      <tr>
                        <td>Handbag elit <strong> × 2</strong></td>
                        <td>$50.00</td>
                      </tr>
                      <tr>
                        <td>Handbag Rutrum <strong> × 1</strong></td>
                        <td>$50.00</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Cart Subtotal</th>
                        <td>$215.00</td>
                      </tr>
                      <tr>
                        <th>Shipping</th>
                        <td><strong>$5.00</strong></td>
                      </tr>
                      <tr class="order_total">
                        <th>Загальний підсумок</th>
                        <td><strong>$220.00</strong></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>

                  <div class="order_button">
                    <button type="submit">Замовити</button>
                  </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Checkout page section end-->
{% endblock %}