{% extends 'sip/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Checkout</h3>
                    <ul>
                        <li><a href="{% url 'home' %}">home</a></li>
                        <li>Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<!--Checkout page section-->
<form action="{% url 'order_form' %}" method="POST" novalidate>
    {% csrf_token %}
    <div class="Checkout_section mt-70">
        <div class="container">
            <div class="checkout_form">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h3>Оформлення замовлення</h3>
                        <div class="row">
                            <div class="col-12">
                                {{ form.customer_name|as_crispy_field }}
                            </div>
                            <div class="col-lg-6">
                                {{ form.phone|as_crispy_field }}
                            </div>
                            <div class="col-lg-6">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="col-12 mb-20">
                                <label>Спосіб доставки</label>
                                {{ form.delivery_method }}
                            </div>
                            <div class="col-12" id="city-address">
                                {{ form.city|as_crispy_field }}
                            </div>
                            <div class="col-12" id="street-address">
                                {{ form.street|as_crispy_field }}
                            </div>
                            <div class="col-lg-6" id="house-address">
                                {{ form.house|as_crispy_field }}
                            </div>
                            <div class="col-lg-6" id="room-address">
                                {{ form.room|as_crispy_field }}
                            </div>
                            <div id="new-post" hidden>
                                <div class="col-12 mb-20">
                                    {{ form.new_post_city|as_crispy_field }}
                                </div>
                                <div class="col-12 mb-20">
                                    {{ form.new_post_office|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                {{ form.delivery_date|as_crispy_field }}
                            </div>
                            <div class="col-lg-6">
                                {{ form.delivery_time|as_crispy_field }}
                            </div>
                            <div class="col-12 mb-20">
                                <label>Спосіб оплати </label>
                                {{ form.payment_method }}
                            </div>
                            <div class="col-12 mb-20">
                                <label>Бажаний спосіб зв'язку: </label>
                                {{ form.communication_method }}
                            </div>
                            <div class="col-12">
                                <div class="order-notes">
                                    <label>Додати коментар до замовлення</label>
                                    {{ form.order_note }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <h3>Ваше замовлення</h3>
                        <div class="order_table table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th>Продукція</th>
                                    <th>Підсумок</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for item in basket %}
                                {% with product=item.product %}
                                <tr>
                                    <td>{{ product.product_name }}<strong> × {{ item.qty }}</strong></td>
                                    <td>{{ item.total_price }} ₴</td>
                                </tr>
                                {% endwith %}
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Сума</th>
                                    <td>{{ basket.get_total_price }} ₴</td>
                                </tr>
                                <tr>
                                    <th>Знижка</th>
                                    <td id="order-discount">{{ discount }} ₴</td>
                                </tr>
                                <tr class="order_total">
                                    <th>Усього зі знижкою</th>
                                    <td id="order-total"><strong>{{ total_with_discount }} ₴</strong></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="order_button">
                            <button type="submit" id="order-btn">Замовити</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}