{% extends 'sip/base.html' %}
{% load static %}

{% block content %}

<!--error section area start-->
    <div class="error_section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="error_form">
                        <h2>ДЯКУЄМО ЗА ЗАКАЗ!</h2>
                        <br>
                        <br>
                        <h4>Найближчим часом з Вами зв'яжеться наш менеджер</h4>
                        <br>
                        <h4>Деталі замовлення було надіслано на Вашу електронну адресу</h4>
                        <br>
                        <a href="{% url 'store' %}">Продовжити покупки</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--error section area end-->

{% endblock %}