{% extends 'sip/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<!--Get data from server to show markers (sale points)-->
<!--Initiates Google Map in the contacts page, and enables to specify parameters-->
<script>
$(document).ready(function(){
$.ajax({
      url: map_data,
      method: 'GET',
      success: function (data) {
          initMap(data);
      }
  });
});


function initMap(data) {

       if (window.innerWidth < 767) {
            var mapZoom = 9;
        } else {
            var mapZoom = 10;
        }

       const map = new google.maps.Map(document.getElementById('googleMap'), {
          zoom: mapZoom,
          center: {lat: 49.56455965000153, lng: 32.04540037731745},
       });

       var markers = data?.map((i) => {
            var marker = new google.maps.Marker({
                position: { lat: parseFloat(i.latitude), lng: parseFloat(i.longitude)},
                map: map,
            });

            var info = new google.maps.InfoWindow({
                content:
                `<h4>${i.name}</h4>
                 <p>${i.city}, ${i.street}, ${i.house} ${i.corpus}</p>
                 <p>${i.schedule}</p>
                `
            });
            marker.addListener('click', function() {
                info.open(map, marker);
            })

        });
     }
window.initMap = initMap;
</script>


<!--background banner area start-->
{% if background_banner %}
    {% if background_banner.banner_url %}
    <a href="{{ background_banner.banner_url }}">
        <div class="breadcrumbs_area"
             style="background: url({{background_banner.image.url}});">
        </div>
    </a>
    {% else %}
    <a href="{% url 'home' %}">
        <div class="breadcrumbs_area"
             style="background: url({{background_banner.image.url}});">
        </div>
    </a>
    {% endif %}
{% endif %}
<!--background banner area end-->

<!--contact map start-->
<div class="contact_map mt-70">
   <div class="map-area">
      <div id="googleMap"></div>
   </div>
</div>
<!--contact map end-->

<!--contact area start-->
<div class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
               <div class="contact_message content">
                    <h3>Наші контакти</h3>
                    <ul>
                        <li><i class="fa fa-map-marker" style="font-size:20px"></i>  19702, вул.Шевченка 153, м.Золотоноша, Черкаська область</li>
                        <li><i class="fa fa-envelope-o"></i><a href="#">sil.patelnya@gmail.com</a></li>
                        <li><i class="fa fa-phone"></i><a href="tel:+38 (093) 490-15-75">+38 (093) 490-15-75</a>  </li>
                    </ul>
                </div>

                <div class="contact_message">
                    <h3 id="contact-form-title">Напишіть нам Ваші побажання</h3>
                    <div id="alert-contact-form"></div>
                        {% crispy form %}
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <h3 style="margin-bottom: 1.5rem;
                font-size: 21px;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 20px;">
                    Наші точки продажу
                </h3>

                <div style="overflow-y: auto; max-height: 738px;">
                    {% for point in sale_points %}
                    <div class="testimonial_area testimonial_about">
                        <div class="testimonial_container">
                            <div class="single_testimonial">
                                <div class="testimonial_content">
                                    <h5><b>{{ point.name }}</b></h5>
                                    <p><i class="fa fa-map-marker"></i> {{ point.city }}, {{ point.street }}, {{point.house}} {{point.corpus}}</p>
                                    <p><i class="fa fa-phone"></i>
                                        <a href="tel:{{ point.mobile_phone }}" class="sale_point_phone">{{ point.mobile_phone }}</a>
                                    </p>
                                    <p><i class="fa fa-clock-o"></i> {{ point.schedule }}</p>
                                    <p><i class="fa fa-envelope-o"></i> {{ point.email }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
<!--contact area end-->

<!-- Google Maps-->
<script
   src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly&language=uk&region=UA"
   defer async
></script>

{% endblock %}